@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
  gap: 5px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 60px auto;
  background: #0F1724;
  color: #92ABCF;
  height: 100vh;
  margin: 0px;
  font-family: 'Open Sans', sans-serif; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212C3D;
  grid-column: 1/4;
  width: 100%;
  box-shadow: 0px 2px 10px #0F1724; }
  header .search-input {
    flex: 0 2 320px;
    padding-left: 10px;
    height: 39px;
    background: #070D17;
    border-radius: 10px;
    border: 0px solid;
    font-size: 14px;
    opacity: 50%; }
    header .search-input::placeholder {
      color: #92ABCF; }
    header .search-input:focus {
      background: white;
      color: #212C3D;
      outline: none;
      opacity: 100%; }
    header .search-input:hover {
      opacity: 100%; }

aside {
  background: #1D2636;
  width: 100%; }

.folders {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  font-size: 16px; }
  .folders__list {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    list-style-type: none; }
    .folders__list__item {
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 40px;
      cursor: pointer; }
      .folders__list__item:hover {
        background: #293140; }
      .folders__list__item__edit {
        display: none;
        margin-left: auto;
        padding-right: 20px; }
  .folders__new-folder {
    display: flex;
    height: 40px;
    padding-left: 40px;
    cursor: pointer;
    align-items: center; }

.active-folder {
  background: #293140;
  color: white; }

.title {
  display: flex;
  justify-content: center; }

.marker {
  height: 10px;
  width: 10px;
  background: #A4D837;
  border-radius: 10px;
  margin-right: 10px; }

.checkbox-hidden {
  height: 25px;
  width: 25px;
  position: absolute;
  opacity: 0;
  cursor: pointer; }
  .checkbox-hidden:checked + label::before {
    border-color: #3757D8;
    background-color: #3757D8;
    background-image: url("../img/checkbox.svg"); }
  .checkbox-hidden:not(:disabled):active + label::before {
    background-color: #92ABCF;
    border-color: #92ABCF; }
  .checkbox-hidden:focus:not(:checked) + label::before {
    border-color: #80bdff; }
  .checkbox-hidden:disabled + label::before {
    background-color: #e9ecef; }
  .checkbox-hidden + label {
    display: inline-flex;
    align-items: center;
    user-select: none; }
    .checkbox-hidden + label::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #92ABCF;
      border-radius: 15px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%; }

.tasks {
  display: flex;
  padding: 25px 20px;
  flex-direction: column; }
  .tasks__add-input {
    padding-left: 10px;
    height: 52px;
    background: #070D17;
    border-radius: 10px;
    border: 0px solid;
    font-size: 16px; }
    .tasks__add-input::placeholder {
      color: #92ABCF; }
    .tasks__add-input:focus {
      background: white;
      color: #212C3D;
      outline: none; }
  .tasks__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px;
    margin: 25px 0px;
    list-style-type: none; }
    .tasks__list__item {
      display: flex;
      align-items: center;
      padding-left: 15px;
      height: 55px;
      background: #232C3A;
      border-radius: 10px;
      cursor: pointer; }

.settings {
  display: flex;
  flex-direction: column;
  padding-top: 30px; }
